<h1>商品一覧</h1>

<table>
    <thead>
        <tr>
            <th>商品ID</th> <th>商品名</th> <th>税抜価格</th> <th>ジャンル</th> <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
            <td><%= item.id %></td>
            <td>
                <% link_to #商品詳細へのパスを記入→詳細ページ未完成 %>
                    <%= item.name %>
                <% enda %>
            </td>
            <td><%= item.price %></td>
            <td><%= Genre.find(item.genre_id).name #合っているか要質問 %></td>
            <td><%= item.is_active ? '販売中' : '販売停止中' #合っているか要質問 %></td>
    </tbody>
</table>

