<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url: admin_genres_path do |f| %>
    <div>
        <h3>ジャンル名</h3>
            <%= f.text_field :name %>
    </div>
    <div>
        <%= f.submit '新規登録' %>
    </div>
<% end %>

<table>
    <thead>
        <tr>
            <th>ジャンル</th>
        </tr>
    </thead>
    
    <tbody>
        <% @genres.each do |genre| %>
            <td><%= genre.name %></td>
            <td>
                <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
            </td>
        <% end %>
    </tbody>
</table>